*{
  color: black;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2e1e1;
}
.title{
  background-color: gray;
  height: 100%;
  width: 97%;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.App {
  max-width: 850px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}
.additem{
  background-color: rgb(100, 100, 100);
}
.additem:hover{
  background-color: rgb(167, 164, 164);
}
.removebtn{
  background-color: rgb(202, 21, 21);
}
.removebtn:hover{
  background-color: rgb(255, 0, 0);
}

button:hover {
  background-color: #45a049;
}

.item-list {
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.total {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.download-btn {
  background-color: #008CBA;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
}

.download-btn:hover {
  background-color: #005684;
}

@media only screen and (max-width:600px){
  .title{
    background-color: gray;
    height: 100%;
    width: 96%;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }

  input {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .item {
    display: grid;
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 2px;
    
  }

  .App {
    max-width: 320px;
    max-height: 100%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
}